Binaries
DerivedDataCache
Intermediate
Saved
Platforms
Content/Art/**
Content/Megascans/**
Content/MSPresets/**
Content/Sounds/**
Content/VFX/**
Content/__ExternalActors__/**
Content/__ExternalObjects__/**

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
